[user]
  name   = fukada
  email  = fukada.531@fssoftware.co.jp
[credential]
  helper = store
[alias]
  amend  = commit --amend
  coders = shortlog -sne
  info   = status --short --branch
  update = pull --rebase
  press  = push --force-with-lease
  remove = rm --cached
  save   = commit --verbose
  switch = checkout
  graph  = log --graph --date-order -C -M --pretty=format:\"[%h] %C(bold green)%d%Creset %s\" --all --date=short
  lg     = log --graph --all --pretty=format:'%C(red)%h%Creset %s %C(green)(%cr) %C(bold yellow)%d%Creset' --abbrev-commit --date=relative
  tree   = log --graph --date=short --pretty='format:%C(yellow)%h%Creset %s %C(bold red)%d%Creset'
  meld   = difftool --dir-diff
  webui = !/home/fukada/.git-webui/release/libexec/git-core/git-webui
[pull]
  rebase        = true
[color]
  ui     = true
[help]
  autocorrect   = 1
[merge]
  ff            = false
  keepBackup    = false
[fetch]
  prune         = true
[rebase]
  autostash     = true
  autosquash    = true
[stash]
  showPatch     = true
[push]
  default       = current
[pack]
  windowMemory  = 10m
  packSizeLimit = 20m
[diff]
  tool = meld
  indentHeuristic = true
[difftool "meld"]
  path = meld
  cmd  = meld $LOCAL $REMOTE
[merge]
  tool = meld
[mergetool "meld"]
  cmd  = meld $LOCAL $BASE $REMOTE --auto-merge
[pager]
  log           = diff-so-fancy | less --tabs=4
  show          = diff-so-fancy | less --tabs=4
  diff          = diff-so-fancy | less --tabs=4
[commit]
  template = /home/fukada/.commit_template
[core]
  quotepath = false
[webui]
  autoupdate = true
[ghq]
	root = ~/work/repository
